*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color:black;
    font-family: Arial;
    text-decoration: none;
    box-sizing: border-box;
}
#container{
    width: 1200px;
    height: 1200px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}
.header_nav{
    width: 600px;
    height: 100px;
    float: left;
}
header h1{
    margin-left: 115px;
    line-height: 100px;
    font-size: 28px;
    color: rgb(246, 67, 67);
    text-shadow: 1px 1px 5px;
}
button span{
    display: block;
    width: 40px;
    border: 3px solid black;
    border-radius: 3px;
    margin: 8px;
}
button{
    background-color:rgb(242, 240, 240);
    border: none;
    display: none;
}
nav ul{
    display: flex; 
   justify-content: space-around;
   /* justify-items: center; */
   align-items: center; 
   height: 100px;
}
main{
    clear: both;
}
#slider{
    height: 400px;
    position: relative;
    overflow: hidden;
}
#serit{
    width: 300%;
    position: absolute;
    left: 0px;
    top:0px;
    transition: left 1s;
}
#serit div{
    width: 33.33%;
    float: left;
    background-image:url(../resim/slayt.jpg);
    background-size: 100% 400px;
    height: 400px;
}
#serit h2{
    width: 40%;
    font-size: 32px;
    color: white;
    margin-top: 20px;
    margin-left: 40px;

}
#serit a{
    display: block;
    width: 130px;
    /* height: 60px; */
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.633);
    margin-left: 40px;
    margin-top: 50px;
}
#ileri,#geri{
width: 30px;
height: 400px;
background-color: rgba(255, 255, 255, 0.3);
position: absolute;
cursor: pointer;
}
#geri{
    left:0px;
    top:0px;
}
#ileri{
    right: 0px;
    top:0px;
}
#ileri span,#geri span{
    color:white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    line-height: 400px;
    display:block;
}
#cards{
    height: 370px;
    padding: 50px 115px;
    display: flex;
    justify-content: space-between;
}
#cards #sol,#cards #sag{
    width: 470px;
    height: 270px;
}
#cards #sag{
    background-image: url(../resim/kabak-tatlisi\ \(1\).jpg);
    background-size: 470px 270px;
    border-radius: 10px;
    
   
}
#cards #sol{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
}
#sol div{
    width: 220px;
    height: 120px;
    background-size: 220px 120px;
    border-radius: 10px;
}
#sol div:first-child{
    background-image: url(../resim/mucver-tarifi\ \(1\).jpg);
}
#sol div:nth-child(2){
    background-image: url(../resim/tiramisu\ \(1\).jpg);
    }
#sol div:nth-child(3){
        background-image: url(../resim/patates-puresi\ \(1\).jpg);
}
#sol div:last-child{
background-image: url(../resim/mercimek-koftesi\ \(3\).jpg);
}

#cards #sol div h4{
    color:white;
   font-size: 20px;
   font-weight: bold;
  
}

#cards #sag  h4{
    color:white;
    font-size: 20px;
    font-weight: bold;
   
}
#yorum{
  background-color:rgb(90, 22, 22) ;
  color:white;
  padding:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#yorum p i{
    margin-left: 50px;
    font-style: italic ;
    font-size: 20px;
    color: white;
}

#yorum img{
border-radius: 50%;
width: 100px;
height: 100px;
float:right

}

#yorum-2{
    background-color:rgb(0, 0, 0) ;
    
    padding:30px;
    text-align: right;

}
#yorum-2 div p {
width: 15%;
font-size: 15px;
color: white;
margin-left: 40px;

}
#yorum-3 h1{
    color:white;
}




@media only screen and (max-width:992px){
#container{
    width: 100%;
}
.header_nav{
    height: 60px;
}
header{
    width: 85%!important;
}
nav{
    width: 15%!important;
    padding-right: 10px;
   
}
header h1{
    margin-left: 10px;
    line-height: 60px;
}
button{
    display: block;
   
}
nav ul{
    display: none;
    position: absolute;
    top:60px;
    right: 0px;
    width: 50%;
    height: 100vh;
    background-color: rgba(224, 95, 95, 0.8);
    z-index: 100;
}
nav ul a{
    display: block;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 22px;
    transition: all 1s;
}
nav ul a:hover{
  text-shadow: 2px 2px 3px;
}
#cards{
   flex-direction: column-reverse;
   height: 640px;
}
#sol{
    margin-top: 30px;
}

}
